{% extends "layouts/index.html" %}

{% block content %}
<div class="space-y-4">
    <p>This is the landing page with some placeholder text. If you're
    logged in, you'll be taken to the <a href="/dashboard">dashboard</a>
    directly.</p>

    <p>consequat nostrud minim in eu do et quis enim pariatur pariatur ullamco
    quis occaecat fugiat id eiusmod cillum Excepteur minim reprehenderit
    dolore incididunt in Ut nulla culpa laboris qui ut in et proident
    aliqua deserunt deserunt velit occaecat eiusmod ullamco laborum
    dolor non velit sit reprehenderit dolore magna aute voluptate.</p>

    <p>esse reprehenderit pariatur aliqua nulla do sunt ut Lipsum sit anim elit
    dolor dolor mollit ut sit Duis sint est consequat ex dolor occaecat irure
    labore labore sed aliquip irure ad quis nostrud culpa ullamco dolore
    incididunt dolore consequat eiusmod irure sit Lorem Lorem laboris irure
    laboris qui Lipsum adipisicing magna aliqua magna ea commodo ea
    adipisicing.</p>
</div>
{% endblock %}
