<footer class="py-2 border-t bg-gray-100 shadow-sm mt-auto">
    <nav class="flex justify-between items-center px-4 sm:px-8">
        <div class="flex space-x-4">
            <a href="#" target="_blank" class="text-sm">
                <!--<img src="/googleplus.png" alt="Google Groups" class="h-6" />-->
                Copyright
            </a>
            <a href="#" target="_blank" class="text-sm">
                <!-- <img src="/linkedin.png" alt="LinkedIn" class="h-6" /> -->
                Terms of Service
            </a>
        </div>
        <div>
            <a href="#" class="text-sm">Feedback</a>
        </div>
    </nav>
</footer>
