<header class="py-2 border-b bg-white shadow-sm">
    <nav class="flex items-center justify-between px-4 sm:px-8">
        <div class="flex items-center space-x-4">
            <div class="h-10 w-10 flex items-center justify-center">
                <img src="{{ url_for('static', filename='favicon.png') }}" alt="icon">
            </div>
            <div class="font-bold text-lg">Rewind</div>
        </div>

        <ul class="flex space-x-6">
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
</header>
